.filter-box-wrapper {
  width: 300px;
  position: relative;
  z-index: 2;
  animation: fadeIn 0.4s ease-in;
  margin: 0;
  flex-shrink: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}