.footer {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 40px 20px;
    font-family: sans-serif;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    border-top: 1px solid var(--border-color);
}

.footer-left {
    max-width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.social-icons svg {
    font-size: 20px;
    margin-right: 15px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    margin-top: 40px;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}