svg path {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

svg path:hover {
  fill: #006e6e;
}
.map-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url("../Assets//backgroundjpg.jpg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-clip: content-box;
}

.state-tooltip {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 999;
}
