

svg path {
     fill: #0ab1b1;
     transition: .2s ease-in-out;
     cursor: pointer;
 }

 svg path:hover {
     fill: #006e6e;
 }

 
.state-tooltip {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  /* pointer-events: none; */
  z-index: 999;
  /* white-space: nowrap; */
}
